h1 {
    text-align: center;
    background-color: #2d3737;
    color: white;
    border-bottom: 3px solid #ffde00;
    font-family: "Gotham A", "Gotham B", Gotham, "Montserrat", Verdana, sans-serif;
}